<!-- banner-->
       <div class="row banner">
        <div class="small-6 large-5 columns"><a href="/"><img src="/img/logo.png" alt="South Florida Health Research"></a></div>
        <div class="small-6 large-offset-4 large-3 columns text-right"><a href="http://www.miamictsi.org/" target="_blank"><img src="/img/ctsi.png" alt="University of Miami Clinical and Translational Science Intitute" class="ctsi"></a></div>
    </div>
    <!--end banner-->