<% include header %>
    <% include banner %>
<div class="row" id="landing-header">
    <div class="small-12 landing-header-media">
	    <img src="img/banner.jpg" alt="Photo description" class="landing-img" />
	    <div class="landing-header-content show-for-large">
      <div class="hero-subheader visible-lg-block  visible-md-block">
      Gain access to life saving treatments<br>
Help bring us closer to a cure for diseases</div>
	      <h1 class="hero-header visible-lg-block  visible-md-block">Find a health<br>research study</h1>
	      <div class="hero-search">
	          <% include search %>
	      </div>

	    </div>
    </div>
  </div> <!-- Close banner row -->
  <!--mobile search-->
   <div class="mobile-search hide-for-large">
     Search ongoing clinical research studies:
      <div class="bump10">
       <% include search %>
       </div>
   </div>
   <!-- end mobile search-->
  
<!--end banner-->
    <div class="browse row">
        <h2 class="text-center">
            Browse by category
        </h2>
        <div class="browse-categories">
            <section class="small-12 medium-6 columns browse-section">
                <h4>Cancer Trials</h4>
                <ul>
                <li><a href="/search-results/Bladder Cancer">Bladder Cancer</a></li>
                <li><a href="/search-results/Breast Cancer">Breast Cancer</a></li>
                <li><a href="/search-results/Lung Cancer">Lung Cancer</a></li>
                <li><a href="/search-results/cancer">All Cancer Conditions</a></li>
                </ul>
            </section>
            <section class="small-12 medium-6 columns browse-section">
                <h4>Pediatric Trials</h4>
                <ul>
                <li><a href="/search-results/Food Allergies">Food Allergies</a></li>
                <li><a href="/search-results/Childhood Obesity">Childhood Obesity</a></li>
                <li><a href="/search-results/Pregnancy Conditions">Pregnancy Conditions</a></li>
                <li><a href="/search-results/Pediatric">All Pediatric Conditions</a></li>
                </ul>
            </section>
            
            <section class="small-12 medium-6 columns browse-section">
                <h4>Orthopaedics Trials</h4>
                <ul>
                <li><a href="/search-results/Back and Neck Pain">Back and Neck Pain</a></li>
                <li><a href="/search-results/Hip Fracture">Hip Fracture</a></li>
                <li><a href="/search-results/Osteoporosis">Osteoporosis</a></li>
                <li><a href="/search-results/Orthopaedics">All Orthopaedics Conditions</a></li>
                </ul>
            </section>
            <section class="small-12 medium-6  columns browse-section">
                <h4>Neurosciences Trials</h4>
                <ul>
                <li><a href="/search-results/Alzheimer's Disease">Alzheimer's Disease</a></li>
                <li><a href="/search-results/Narcolepsy">Narcolepsy</a></li>
                <li><a href="/search-results/Stroke">Stroke</a></li>
                <li><a href="/search-results/Neurosciences">All Neurosciences Conditions</a></li>
                </ul>
            </section>
            
            <section class="small-12 medium-6 columns browse-section">
                <h4>Transplantation Trials</h4>
                <ul>
                <li><a href="/search-results/Cardiomyopathy">Cardiomyopathy</a></li>
                <li><a href="/search-results/Cystic Fibrosis">Cystic Fibrosis</a></li>
                <li><a href="/search-results/Pancreatic Cancer">Pancreatic Cancer</a></li>
                <li><a href="/search-results/Transplantation">All Transplantation Conditions</a></li>
                </ul>
            </section>
            
            <section class="small-12 medium-6 columns browse-section">
                <h4>Infectious Disease Trials</h4>
                <ul>
                <li><a href="/search-results/Zika Virus">Zika Virus</a></li>
                <li><a href="/search-results/HIV">HIV</a></li>
                <li><a href="/search-results/HPV">HPV</a></li>
                <li><a href="/search-results/Infectious">All Infectious Disease Conditions</a></li>
                </ul>
            </section>
            
            <section class="small-12 medium-6 columns browse-section">
                <h4>Cardiovascular Trials</h4>
                <ul>
                <li><a href="/search-results/Aneurysm Stroke">Aneurysm Stroke</a></li>
                <li><a href="/search-results/Chronic Pain">Chronic Pain</a></li>
                <li><a href="/search-results/Obesity">Obesity</a></li>
                <li><a href="/search-results/Cardiovascular">All Cardiovascular Conditions</a></li>
                </ul>
            </section>
            
             <section class="small-12 medium-6 columns browse-section">
                <h4>Surgery Trials</h4>
                <ul>
                <li><a href="/search-results/Apendicitis">Apendicitis</a></li>
                <li><a href="/search-results/Thyroid Tumors">Thyroid Tumors</a></li>
                <li><a href="/search-results/Gallstones">Gallstones</a></li>
                <li><a href="/search-results/Surgical">All Surgical Conditions</a></li>
                </ul>
            </section>
            </div>
        </div>
        <div class="accepting row show-for-medium">
            <div class="small-12 text-center">
                The University of Miami is currently accepting people for <span class="orange">567 clinical trials.</span><br>
            Let us help you find the right one for you.
            </div> 
        </div>
        <div class="how-it-works row show-for-medium">
            <div class="columns small-12 text-center">
                <h1>How Clinical Research Works</h1>
                <img src="/img/dr_index.svg" alt="Steps in a Clinical Trial">
            </div>
        </div>
        <div class="home-video row align-middle clearfix">
           <div class="small-5 text-center columns">Watch this video</div> 
           <div class="small-2 text-center columns">
               <a data-open="enroll-video"><div class="play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div></a>
            </div> 
           <div class="small-5 text-center columns">On how to Enroll</div> 
        </div>


<% include modals %>
<% include footer %>