
<!-- video modal-->

 <div class="reveal" id="enroll-video" data-reveal>
 <div class="flex-video">
  <iframe id="youtube" width="640" height="360" src="https://www.youtube.com/embed/WvPTBYdOCqk?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
     </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>