<div class="input-group">
    <input class="input-group-field" type="text" placeholder="Search by condition, treatment, sponsor or keywords">
        <div class="input-group-button">
         <button class="button btn-search" value="Submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
</div>